.footer{
  background-color: #2c2c2c;
  color: #969696;
  padding: 16px 20px;
    margin: 0 auto;
    width: 1000px;
  p{
    margin:5px 0 0;
  }
  .ul{
      font-size: 0;
    li{
      font-size: 14px;
    }
  }
}
