.ellipsis{
  white-space: nowrap;
overflow: hidden;
text-overflow: ellipsis;
}
/*grid*/
.grid-container {
margin-left: auto;
margin-right: auto;
padding-left: 10px;
padding-right: 10px;
padding-top: 20px;

}
.h2{
  background-color: #0084d9;
  color:#fff;
  margin:0 0 20px;
  text-transform: uppercase;
  font-size: 12px;
  padding:11px 10px;
  font-weight: normal;
  height: 34px;
}
.h3{
  font-size: 1em;
  margin: 0 0 5px;
}
.ol + h3{
  margin-top: 15px;
}
.grid18, .grid27, .grid30, .grid33, .grid48, .grid70, .grid72{
  float: left;
  padding-left: 10px;
  padding-right: 10px;
}
.grid18{
  width: 20%;
}
.grid27{
  width: 28.5%;
}
.grid30 {
width: 30%;
}
.grid33 {
width: 33.334%;
}
.grid70 {
width: 70%;
}
.grid48{
  width: 50%
}
.grid72{
  width: 71.5%
}

.social img{
  width:26px;
  height: 26px;
}
