/*header*/

.siteheader{
  padding-top: 17px;
  padding-bottom: 27px;
  .ul{
      font-size: 0;
    li{
      font-size: 12px;
    }
  }
}

.sitesearch{
  border:1px solid #366cc1;
  border:1px solid rgba(0,0,0,.06);
  margin:15px 0;
  .sitesearch-inner{
    background-color: #fff;
    box-shadow: inset 0 0 4px 0 #000;
    position: relative;
    width: 263px;
  }
  input, button{
    background-color: transparent;
    border:0 none;
    margin: 0;
    vertical-align: top;
  }
  input{
    margin-left: 9px;
    width: calc(100% - 35px);
    height: 24px;
    outline-style: none;
  }
  button{
    cursor: pointer;
    height: 24px;
    width: 24px;
    background-image: url('../images/search.png');
    background-position: center;
    background-repeat: no-repeat;
    position: absolute;
    top:0;
    right:0;
  }
}
