/*ico*/
.ico{
  padding-right: 15px;
  background-position: 0 center;
  background-repeat: no-repeat;
}
.ico-folder{
  background-image: url('../images/icon-folder.png');
}
.ico-list{
  background-image: url('../images/icon-list.png');
}
.ico-video{
  background-image: url('../images/icon-video.png');
}
