*{
  box-sizing: border-box;
}
body {
  background-color: #3e7edb;
  color: #282b2e;
  font-family: helvetica, arial, sans-serif;
  font-size: 14px;
  line-height: 1;
  margin:0;
}


#bgw{
  position: absolute;
  top:0;
  right:0;
  left:0;
  z-index: -1;
  overflow: hidden;
  font-size: 0;
}
#bgImg{
  display: block;
  margin: 0 auto;
  width: 100%
}
.contain{
  max-width: 1000px;
  margin: 0 auto;
  min-width: 680px;
}

hr{
    height: 1px;
    border:0 none;
    background-color: #cccdcd;
}
.clearfixer{
  padding: 1px 10px 0;
  margin:0;
  clear:both;
  font-size: 0;

  hr{
    margin: 0 0 20px;
  }
}
.clearer{
  clear: both;
  content: "";
  display: block;
  height: 0;
  overflow: hidden;
}
.floatright{
  float: right;
}
.floatleft{
  float: left;
}
a{
  color: #282b2e;
  text-decoration: none;
  &:hover{
    text-decoration: underline;
  }
  img{
    border: 0 none;
  }
}
p{
  margin-top: 10px;
  line-height: 1.2em;

}
div{
  min-width:1px;
}
form{
  display: block;
  margin:0;
}
