.swidget-h2{
  background-color: #dbdbdb;
  color: inherit;
  margin: 0;
}
.swidget-main{
  background-color: #dbdbdb;
  padding: 0 10px 1px;
  font-size: .85em;

  hr{
      background-color: #969696;
      margin: 0 0 10px
  }
  .article{
    margin-bottom: 9px;
  }
}
.swidget-foot{
  text-align: center;
  background-color: #cac9c9;
  padding: 5px;
  border-top:1px solid #969696;
  font-size: .85em;
}
.newsletter-btn{
    padding: 10px;
    text-transform: uppercase;
    background-color: #0084d9;
    color: #fff;
    border: 0 none transparent;
    margin-bottom: 9px;

  }

.newletters{
  margin: 10px 0;
  padding: 10px;
  background-color: #c7c6c6;
  label{
    font-weight: bold;
    display: block;
    margin:8px 0;
    input{
      margin:0;
    }
  }
}
